@import "_animation.scss";
// blue green black yellow orange: https://coolors.co/246eb9-4cb944-2d2a32-ddd92a-ffba08

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
}

html {
    margin: 0 10px 10px 10px;
    background: #F1F0F0;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    background: #F1F0F0;
    padding: 5px 0;
    height: 7vh;
    align-items: center;
    top: 0;
    a {
        margin-right: 10px;
        text-decoration: none;

        &:visited, &:link {
            color: black;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    font-weight: 900;
    @media only screen and (min-width: 768px) {
        font-size: 6vw;
    }
    @media only screen and (max-width: 360px) {
        // iphone 5/SE
        font-size: 8vw;
    }
    @media only screen and (max-width: 768px) and (orientation: portrait) {
        font-size: 8vw;
    }
}

h2 {
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: .1em;
    margin: 10px 0 20px;
    background: #F1F0F0;

    span {
        background: #F1F0F0;
        padding: 0 10px;
    }
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 300;
    @media only screen and (max-width: 360px) {
        // iphone 5/SE
        font-size: 5vw;
    }
}

p {
    font-weight: 100;
    margin-right: 10px;
    margin-left: 10px;
}

section {
    padding-top: 7vh; //compensate for nav and clear division of sections
}

.title {
    h1, h4 {
        display: inline;
        margin-right: 5px;
    }
}