@import "_animation.scss";
// blue green black yellow orange: https://coolors.co/246eb9-4cb944-2d2a32-ddd92a-ffba08

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
}

html {
    background: #F1F0F0;
}

body {
    $margin-side: 17%;
    margin-left: $margin-side;
    margin-right: $margin-side;
    width: 100% - 2 * $margin-side;

    margin-top: 10px;
}

h2 {
    border-bottom: gray solid 1px;
    font-size: 2em;
}

h3 {
    margin-top: 1em;
    font-size: 1.5em;
}

#title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: black solid 2px;

    h1 {
        font-size: 5em;
        flex-grow: 2;
    }

    a {
        $dimension: 2.5em;
        width: $dimension;
        height: $dimension;
        margin-right: 10px;

        &:hover {
            width: $dimension * 1.5;
            height: $dimension * 1.5;
        }
    }
}

.container {
    margin-top: 1.5em;
    margin-left: 1.5em;

    p {
        text-indent: 50px;
        margin-top: .5em;
        font-size: 1.1em;
        font-weight: 300;
    }
}

.education {

}

.group{
    margin-top: 6px;

    .group-top {
        display: flex;

        .group-name {
            flex-grow: 2;
            font-weight: 600;
        }

        .group-date {
            font-weight: 300;
        }
    }

    .role {
        font-weight: 300;
    }

    ul {
        font-weight: 300;
        margin-top: 5px;
        margin-left: 1.5em;
        list-style-type: none;
    }
}